<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for creating "<%= @post.title %>"</h1>
    
    <p>
      <%= @post.body %>
    </p>
    <p>
# #20
      <%= link_to "View your post online!", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
